In [1]:
import pandas as pd

In [2]:
pd.Series([1,2,3,4,5,6,7,8,9,10])

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [9]:
s= pd.Series(['1','2','3'], index=['A','B','C'], name= 'Prod')
s2= pd.Series(['4','5','6'], index=['X','Y','Z'], name= 'Frod')

A    1
B    2
C    3
Name: Prod, dtype: object

In [12]:
df= pd.DataFrame([s,s])
df

      A  B  C
Prod  1  2  3
Prod  1  2  3

In [13]:
df.iloc[0]

A    1
B    2
C    3
Name: Prod, dtype: object